.App {
  text-align: center;
}

body{
    background-image: url(https://media.discordapp.net/attachments/907716590219456532/913796495688474624/MINTBG.png?width=1920&height=1080);
    background-size: contain;
    background-position: center;
}

#root{
    display: grid;
    text-align: center;
    place-content: center;
    min-height: 100vh;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 8%;
    font-size: 1.3em
}
